@media only screen and (min-width: 40em) {

	/* .hero-image {
		background-image: url(../images/porto-alegre-hero.webp);
	} */

    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; 
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}

    .grid {
        margin-left: 2rem;
    }

    .grid-area.one {
        grid-template-areas: 
        "head head head"
        "picture p p"
        "picture p p";
        text-align: start;
    }
    
    .grid-area.two {
        grid-template-areas: 
        "head head head"
        "p p picture"
        "p p picture";
        text-align: end;
    }
    
	.form-grid-area {
		display: grid;
		grid-template-areas: 
			"title title title"
			"picture form form"
			"picture form form";
		gap: 10px;
		margin: 10px 20px;
		justify-content: space-around;
	}
	
	.form-grid-area picture {
		grid-area: picture;
	}
	
	.form-grid-area h1 {
		grid-area: title;
	}
	
	.form-grid-area form {
		grid-area: form;
	}


.form-grid-area img {
    margin-top: 3rem;
}

.membership-cards {
	flex-direction: row;
}
}