@media only screen and (min-width: 1200px) {
    .data, .weather {
        position: absolute;
        max-width: 300px;
    }

    .data {
        position: absolute;
        bottom: 570%;
        left: 2%;
    }
    
    .weather {
        position: absolute;
        bottom: 570%;
        right: 2%;
    }
}